@font-face {
    font-family: Satisfy;
    src: url("./assets/Satisfy.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./assets/Roboto.ttf");
}

*{
    font-family: Roboto;
}

body{
    margin: 0;
}

.name{
    font-family: Satisfy;
}