@font-face {
    font-family: Satisfy;
    src: url("./assets/Satisfy.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./assets/Roboto.ttf");
}

*{
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0 50px;
}

.name{
    font-family: Satisfy;
}

.header-icon{
    height: 30px;
}

.project-icon{
    height: 25px;
}

.icon{
    width: auto;
    transform: scale(1);
    transition: transform 0.25s;
}

.icon:hover{
    transform: scale(1.1);
}

header{
    display: flex;
    position: relative;
    align-items: center;
}

header > h1{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px 10px;
}

header > img{
    height: 300px;
    width: auto;
}

header > img,
.about-me{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.about-me{
    padding: 30px;
}

main{
    margin-top: 100px;
}

.project-title-links{
    display: flex;
    gap: 8px;
}

.project-title-links > h4{
    margin: 0;
    margin-right: auto;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
}

.project > img{
    width: 100%;
}

.project{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.project-body{
    padding: 20px;
}
